<!DOCTYPE html>
<html>
<head>
  <title>PerformanceTesting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= link_to "Customers", customers_path %>
<%= link_to "Sales", sales_path %>

<%= yield %>

</body>
</html>
